*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #001e4d;
}

.quiz{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 20px;
    padding: 30px;
    border-radius: 10px;
}

.quiz h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.app{
    padding: 20px 0;
}
.app h2{
    font-size: 18px;
    color: #001e4d;
    padding-bottom: 10px;
    font-weight: 500;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 7px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    color: #fff;
    background: #222;
}
.btn:disabled{
    cursor: no-drop;
}

#next{
    background-color:  #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    display: none;
    cursor: pointer;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
